:root{
    --primary: #f7efef;
}


*{
    outline: 0;
    border: 0;
}


body{
background-color: #20aaaa;
display: flex;
justify-content: center;
<<<<<<< HEAD
margin-top: 5%;
}

main{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
=======
align-items: center;
}

main{
    background-color: var(--primary);
    width: 35%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 10%;

}
>>>>>>> 84cf037989b322d4298764f9abae9d5bbc0f197f

form{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    justify-content: center;
=======
    align-items: center;
>>>>>>> 84cf037989b322d4298764f9abae9d5bbc0f197f
}

h1{
    text-align: center;
    
}

<<<<<<< HEAD
input, select{
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 10px 0px;
    padding: 5px;

}

#nome, #email, #senha{
    width: 100%;
}

=======
>>>>>>> 84cf037989b322d4298764f9abae9d5bbc0f197f
.bloco{
    display: block;
}

<<<<<<< HEAD
textarea{
    resize: none;
}

button{
    color: #000;
    background-color: rgb(3, 231, 41);
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 5px;
    margin-left: 10px;
}
button:hover{
    color: #000;
    background-color: #0af;
    width: 100%;
}

label{
    font-weight: bold;
}

.gen{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
=======

input{
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 7px;
    margin-top: 10px;
    opacity: 0.7;
}


button{
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color:#2099ff;
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    justify-content: center;
    cursor: pointer;
}

button:hover{
    background-color: #20ffae;
}

p{
    text-align: center;
}

>>>>>>> 84cf037989b322d4298764f9abae9d5bbc0f197f
