:root{
    --primary: #6f2fab;
    --secondary: #999;
}
*{
    border: none;
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

 body{
    display: flex;
    background-color: var(--primary);
    justify-content: center;
}

main{
    display: flex;
    background-color: var(--secondary);
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}


input[type=text], input[type=password], textarea, .bloco, button, select{
    display: block;
    margin: 10px 0px;
    width: 100%;
    border-radius: 5px;
    padding: 5px 0px;
}

select{
    text-align: center;
}

button{
    background-color: var(--primary);
    color: white;
}